/* Anti-Spotify Header*/

.banner {
  margin-top: 0;
  padding: 0 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  font-size: 80px;
  margin-bottom: 40px;
  display: inline-block;
  color: aliceblue;
  background-image: url('./assets/circle.png');
  background-size: cover; 
  background-position: center;
  padding: 50px 60px;

}

/* Placing the X on top of Anti*/
.tagline {
  position: relative; 
  display: inline-block; 
}

.tagline::before {
  content: "";
  position: absolute;
  top: 30%; 
  left: 5%; 
  width: 40%; 
  height: 40%;
  background-image: url('./assets/ex.png'); 
  background-size: contain; 
  background-repeat: no-repeat;
}

/* Input area */
.input-container input{
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 500px;
  padding: .75rem;  
  margin-right: 10px;  
  caret-color: rgba(255, 255, 255, 0.6);  
  color: #ffffff;
}

/* Button */
.input-container button {
  background: rgba(255, 255, 255, 0.2);  
  color: #fff;  
  border: 1px solid rgba(255, 255, 255, 0.3);;  
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;  
  padding: 0.75rem;  
  margin-left: 10px;
}

.input-container button:hover {
  background-color: white;  
  color: #000;  
}

.github-button {
  padding: 3% 5% 5% 3%;
}

.title{
  padding-top: 10%;
}

.tileRow {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.tile {
  margin: 10px;
  color: rgb(190, 219, 229);
  padding: 20px;
  min-width: 200px; 
  min-height: 200px; 
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.footer-container {
  display: flex;
  justify-content: center; 
  align-items: flex-end; 
  padding: 20px;
  position: relative;
  height: 100%; 
  min-height: 100vh;
}

.footer-box {
  width: 90%;
  max-width: 800px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.top {
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.visit-contribute-repository {
  font-weight: bold;
  display: block;
}

.made-with-love {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}

.bottom {
  margin-top: 20px;
}

.get-involved {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  text-decoration: underline;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px;
}

.documentation, .code-of-conduct, .contributing-guidelines {
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.documentation:hover, .code-of-conduct:hover, .contributing-guidelines:hover {
  color: #f694ff;
}
