body {
  background-image: url('./assets/background_option2.png');
  background-repeat: no-repeat;
  background-size: cover;       
}

/*quote thing for demo*/

h1{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  font-size: 80px;
  margin-bottom: 40px;
  display: inline-block;
  color: aliceblue !important;
  padding: 50px 60px;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(240, 248, 255, 0.458);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#c86a708e, #192d678b);
  border: 2px solid rgba(240, 248, 255, 0.458);
  border-radius: 10px;
}
